<h1>Articles#index</h1>
Our blog has <%= Article.public_count %> articles and counting!
<p>Find me in app/views/articles/index.html.erb</p>

<%# unordered list %>
<ul> 
    <% @articles.each do |article| %>
        <%# use `archived?` method to avoid displaying any article that is archived %>
        <%# <% unless article.archived? %> 
            <li>
            <%# 在文件标题上加上文章详情的跳转 %>
                <a href="/articles/<%= article.id %>">
                <%= article.title %>
                </a>
            </li>
            <%# 使用 link_to 实现跳转, ts first argument as the 
            link's text and its second argument as the link's destination %>
            <%# <li> %>
                <%# <%= link_to article.title, article %>
            <%# </li> %>
        <%# <% end %>
    <% end %>
</ul>

<%= link_to "New Article", new_article_path %>