<%# a shared view called a partial, shared by 
new and edit action; all `@article` is been replaced with `article` %>

<%# a form builder, that follows Rails conventions 
the `form_with` helper instantiates a form builder %>
<%= form_with model: article do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :status %>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>