<%# to factor the common structure using application.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>  <%# mitigate cross-site request forgery %>
    <%= csp_meta_tag %>  <%# content security policy, to mitigate cross-site scripting %>

    <%# 使用 Rails 内置的 `stylesheet_link_tag` 方法，在所有媒介类型中引入 `application.css` %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%# this code is responsible for inserting 
    the contents of each page into the layout %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
